@import "../styles/colors";
@import "../styles/margins";

:host {
  display:block;
  position:relative;
  background:$color_alt2;
}

.skinny-area {
  padding:1rem;
  height:10vh;
  position:relative;
}

.logo-area {
  img {
    height:50px;
  }
  .title, img {
    display:inline-block;
    vertical-align: middle;
  }
  .title {
    font-size:1.5rem;
    cursor:pointer;
  }
}

.status-list {
  position:absolute;
  bottom:0;
  right:1rem;
  top:50%;
  transform:translateY(-50%);

  li {
    display:inline-block;
  }

  li + li {
    margin-left:1em!important;
  }
}

.expand-actions {
  position:absolute;
  top:0;
  left:50%;
  transform: translateX(-50%);
  background:red;
  transition:0.3s ease-out;
}

:host:not(:hover) .expand-actions {
  transform: translateY(-100%) translateX(-50%);
}

.expanded-area {
  padding:1rem 1rem 2rem 4rem;
}

.search-box {
  margin-bottom:1rem;
}

.search-box input {
  padding:0.8rem;
  background:white;
  width:80%;

  &:focus {
    outline:5px solid $color_primary;
  }
}

.status-list {
  &, li {
    list-style:none;
    padding:0;
    margin:0;
  }

  li {
    display:inline-block;
  }
}

.list-item:hover {
  color:$color_text_hover;
  cursor:pointer;
}
